<html>
<head>
<style>
a {
  color: white;
  text-decoration: none;
}
body{
  background: white;
  color: black;
}
.finish-quiz-btn{
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

</style>
</head>
<body>

<%= bootstrap_form_with model: @quiz, method: :post, url: create_quiz_path(@quiz), data: {turbo:false} do |form| %>
  <div>
    <%= form.text_field :city %>
  </div>
  
  <div>
    <%= form.select :temperature, ['High', 'Average', 'Low'] %>
  </div>
  
  <div>
    <%= form.number_field :number_of_birds %>
  </div>
  
  <div>
    <%= form.number_field :number_of_species %>
  </div>
  
  <div>
    <%= form.text_field :species %>
  </div>
  <%= form.submit "Finish quiz", class: "finish-quiz-btn"%>
<%end%>
</body>
</html>
