<html>
<head>
  <style>
    a{
      color: white;
      text-decoration: none;
    }
    body{
      background: white;
      color: black;
    }
    .birdhouse-image {
      max-width: 100%;
      height: 200px; /* Set a fixed height for all images */
      object-fit: cover; /* Maintain aspect ratio and cover the container */
      border-bottom: 1px solid #eee;
      margin-bottom: 20px;
    }
    .review-button{
      background-color: #4CAF50; 
      color: white;
      padding: 10px 20px; 
      border: none; 
      border-radius: 5px; 
      cursor: pointer;
    }
  </style>
</head>
<body>
<h1>Purchase History</h1>

<% @orders.each do |order| %>
  <div>
    <%= image_tag "birdhouse4.jpg", class: 'birdhouse-image' %>
    <h3>Order ID: <%= order.id %></h3>
    <p>Item: <%= order.items %></p>
    <p>Total cost: <%= order.total_cost %></p>
    <p>Shipping Address: <%= order.shipping_address %></p>
    <p>Payment details: <%= order.payment_details %></p>
    <!-- Other order details -->
  </div>
<% end %>
<%= link_to 'Add Review', '#', class: 'review-button' %>
</body>
</html>
