<html>
    <head>
        <style>
            body{
                background: white;
                color: black;
            }
            .container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            .form-container {
                border: 1px solid #ccc;
                padding: 20px;
                border-radius: 5px;
            }
            .payment-details {
                display: flex;
                gap: 10px;
            }
            .payment-details > .field {
                display: flex;
                flex-direction: column;
            }
            .container.form-container.h3{
                text-align: 'center';
            }
            .number_field{
                -webkit-appearance: none; 
                -moz-appearance: textfield;
            }
            input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .expiry-cvv-container {
                display: flex;
                justify-content: space-between;
            }
            .expiry-cvv-container > div {
                display: flex;
                flex-direction: column;
                margin-right: 10px; /* Adjust spacing between the fields */
            }
            .expiry-cvv-container > div:last-child {
                margin-right: 0;
            }
            
        </style>
    </head>
    <body>
        <div class = "container">
            <div class = "form-container">
                <h3>Complete Purchase</h3>
                <%= bootstrap_form_with model: @order, method: :post, url: orders_path, data: { turbo: false }, html: { id: 'payment-form' }, local: true do |form| %>
                    <!-- Shipping Information Fields -->
                    <!--<div class="field">
                        <%= form.label :shipping_address %>
                        <%= form.text_area :shipping_address, required: true, style: 'background-color: white; color: black' %>
                    </div>-->
                    <div class="field">
                        <%= form.text_area :shipping_address, placeholder: 'Shipping Address', required: true, style: 'width: 500px' %>
                    </div>

                    <div class="field">
                        <%= form.number_field :total_cost, value: @total_price, readonly: true %>

                        <!--<%= form.number_field :total_cost, value: params[:total_price], required: true, readonly: true, style: 'width: 100px' %>-->
                    </div>
                    <p>PAYMENT DETAILS</p>
                    <!-- Simulated Payment Information -->
                    <div class="field">
                        <%= form.text_field :cardholder_name, placeholder: 'Name', required: true, style: 'width: 400px' %>
                    </div>
                    <div class="field">
                        <%= form.select :card_type, [['Visa', 'VISA'], ['MasterCard', 'MC'], ['American Express', 'AMEX']], {}, required: true, style: 'width: 200px;' %>
                    </div>
                    <div class="expiry-cvv-container">
                        <div class="field">
                            <%= form.number_field :card_number, placeholder: 'XXXX XXXX XXXX XXXX', required: true,  pattern: "\\d{16}", title: 'Card number must be 16 digits', style: 'width: 200px;'  %>
                        </div>

                        <div class="field">
                            <%= form.text_field :card_expiry, placeholder: 'MM/YY', required: true, style: 'width: 85px'  %>
                        </div>

                        <div class="field">
                            <%= form.number_field :card_cvv, placeholder: 'XXXX', required: true,  pattern: "\\d{3,4}", title: 'CVV must have 3 or 4 digits', style: 'width: 70px;'  %>
                        </div>
                    </div>
                    <%= form.submit "Place Order", id: "submit-button" %>
                <% end %>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var cardNumberInput = document.getElementById('card_number');
                var form = document.getElementById('payment-form');
                var cvvInput = document.getElementById('card_cvv'); 

                form.addEventListener('submit', function(event) {
                    var cardNumber = cardNumberInput.value.replace(/\D/g, '');
                    var cvv = cvvInput.value.replace(/\D/g, '');

                    console.log('Form submitted with card number:', cardNumber); // For debugging

                    if(cardNumber.length !== 16) {
                    console.log('Validation failed, preventing form submission.'); // For debugging
                    event.preventDefault(); // Prevent form from submitting
                    alert('Card number must be 16 digits'); // Show message to the user
                    } else if(!cvv.match(/^\d{3,4}$/)) {
                    console.log('CVV validation failed, preventing form submission.');
                    event.preventDefault(); // Prevent form from submitting
                    alert('CVV must be 3 or 4 digits'); // Show message to the user
                    } else {
                    console.log('Validation passed, allowing form submission.'); // For debugging
                    }
                    
                });
            });
        </script>
    </body>
</html>

